<!-- Footer of the website -->
<footer>
	<div class="wrapper">
		<div id="copyright">
			<img src="{{ .path }}assets/logo/uxph_logo.svg" id="footer-logo" />
			<br/>
			<!-- <p>Contact us: <span class="blue">info@uxph.org</span></p> -->
			<p>&copy; Copyright 2020.</p>
			<a href="/code-of-conduct">
				<p class="blue" id="coc">View Code of Conduct</p>
			</a>
		</div>
		<div id="social-media">
			<h2>Connect with us</h2>
			<div class="column-content">
				<div>
					<div class="content-wrapper">
						<div>
							<!-- <img src="{{ .path }}assets/icons/ic_facebook.png" class="ic" /> -->
							<i class="fab fa-facebook-square font-size-24 mr-2"></i>
							<h5>
								Facebook:
								<a href="https://www.facebook.com/uxphofficial/" target="_blank" class="blue">
									<strong class="footer-links">uxphofficial</strong>
								</a>
							</h5>
						</div>
					</div>
					<div class="content-wrapper">
						<div>
							<!-- <img src="{{ .path }}assets/icons/ic_facebook.png" class="ic" /> -->
							<i class="fab fa-facebook-square font-size-24 mr-2"></i>
							<h5>
								Facebook Group:
								<a href="https://www.facebook.com/groups/uxphofficial/" target="_blank" class="blue">
									<strong class="footer-links">groups/uxphofficial</strong>
								</a>
							</h5>
						</div>
					</div>
					<div class="content-wrapper">
						<div>
							<!-- <img src="{{ .path }}assets/icons/ic_linkedin.png" class="ic" /> -->
							<i class="fab fa-linkedin font-size-24 mr-2"></i>
							<h5>
								LinkedIn:
								<a href="https://www.linkedin.com/company/uxph/" target="_blank" class="blue">
									<strong class="footer-links">company/uxph</strong>
								</a>
							</h5>
						</div>
					</div>
				</div>
				<div>
					<div class="content-wrapper">
						<div>
							<!-- <img src="{{ .path }}assets/icons/ic_instagram.png" class="ic" /> -->
							<i class="fab fa-instagram font-size-24 mr-2"></i>
							<h5>
								Instagram:
								<a href="https://instagram.com/uxphofficial" target="_blank" class="blue">
									<strong class="footer-links">uxphofficial</strong>
								</a>
							</h5>
						</div>
					</div>
					<div class="content-wrapper">
						<div>
							<!-- <img src="{{ .path }}assets/icons/ic_twitter.png" class="ic" /> -->
							<i class="fab fa-twitter font-size-24 mr-2"></i>
							<h5>
								Twitter:
								<a href="https://twitter.com/uxphofficial" target="_blank" class="blue">
									<strong class="footer-links">uxphofficial</strong>
								</a>
							</h5>
						</div>
					</div>
					<div class="content-wrapper">
						<div>
							<!-- <img src="{{ .path }}assets/icons/ic_twitter.png" class="ic" /> -->
							<i class="fas fa-envelope font-size-24 mr-2"></i>
							<h5>
								Contact us:
								<a href="mailto:info@uxph.org" target="_blank" class="blue">
									<strong class="footer-links">info@uxph.org</strong>
								</a>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div id="back-to-top" class="hide">
	<i class="fas fa-arrow-up"></i>
</div>
