/* main nav stylesheet */

#main-nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

#main-nav div.wrapper {
	transition: ease all 0.3s;
}

#main-nav ul {
	margin: 0 !important;
	padding-left: 0;
}

#main-nav ul li {
	list-style-type: none;
	display: inline-block;
	font-weight: 400;
	cursor: pointer;
}

#main-nav ul li span {
	display: block;
	padding: var(--value-24) var(--value-16);
}

#main-nav ul li span {
	transition: ease all 0.2s;
	border-bottom: 2px solid transparent;
	z-index: 999;
}

#main-nav ul li span.active {
	color: var(--main-blue);
	border-bottom-color: var(--main-blue);
	background-color: #f8f8f8;
}

#main-nav ul > li:hover span {
	color: var(--main-blue);
}

#nav-logo {
	width: 0;
	transition: ease all 0.3s;
}

#nav-logo.show {
	width: var(--value-128);
}

#main-nav .subnav {
	display: none;
	border: thin solid #ccc;
	border-top: none;
	top: 69px;
}

#main-nav li:hover > .subnav {
	display: block;
	z-index: 0;
}

#main-nav li > .subnav p {
	transition: ease all 0.3s;
	font-size: var(--value-16);
	line-height: 1.9rem;
}

#main-nav li > .subnav p:hover {
	color: var(--main-blue) !important;
}

#menu-bar {
	display: none;
}

/* nav drawer */
#mobile-nav {
	display: none;
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #182336;
	z-index: 999;
	transition: ease all 0.3s;
}

#mobile-nav * {
	color: white;
}

#mobile-nav > ul li {
	list-style-type: none;
	font-size: var(--value-24);
	padding: var(--value-12) 0;
}

#mobile-nav .subnav * {
	background-color: none !important;
}

#mobile-nav.show {
	left: 0;
}

#menu-close {
	float: right;
	margin: var(--value-24);
}
