@media only screen and (max-width: 768px) {
  #form-wrapper {
    width: 90% !important;
  }
}

@media only screen and (max-width: 411px) {
  #coming-soon-overlay {
    opacity: 1 !important;
  }
  #coming-soon-video {
    display: none !important;
  }

  #coming-soon-content {
    width: 90% !important;
    margin: var(--value-96) auto !important;
    padding: 0 !important;

    h1 {
      font-size: 2rem !important;
    }

    p {
      width: 100% !important;
    }
  }

  #form-wrapper {
    width: 95% !important;
  }

  #call-for-speakers-header {
    padding: 0 var(--value-16) !important;
    box-sizing: border-box;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
