section {
  position: relative;
  padding: 48px 0px;
}

.main-header {
  background-color: #182335;
  background: url(/images/section-transition--main.svg), #182335;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;

  &--logo img {
    width: 128px;
  }
  &--eventlogo img {
    width: 328px;
  }
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-btn {
  border: solid 3px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0.8em;
  font-weight: bold;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  transition: 0.8s all;

  &:hover {
    text-decoration: none;
  }
  &--fill {
    color: #fff;
    background: linear-gradient(144.66deg, #c077fa, -3.68%, #00b6e0 134.62%);
    border-color: transparent;
    &:hover {
      color: #fff;
      transform: translate(0, -3px);
      box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.35);
    }
  }
  &--alt {
    color: #c077fa;
    border-color: #c077fa;
    &:hover {
      color: #c077fa;
      transform: translate(0, -3px);
      box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.35);
    }
  }
}

.video-placeholder {
  border: solid 10px #182335;
  border-radius: 5px;
  height: 360px;
  background-color: #182335;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 96px;
    width: 96px;
    height: 96px;
    border: solid 8px #fff;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    width: 36px;
    height: 36px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: #fff;
    cursor: pointer;
    z-index: 2;
  }
}

.paragraph {
  padding: 0px 8px;

  p {
    font-family: "Work Sans", sans-serif;
    font-size: 16px !important;
    color: #182335;
    line-height: 30px;

    span {
      color: #c077fa;
      font-weight: bold;
    }
  }
  .main-btn {
    margin: 0px;
  }
}

.figures-section {
  color: #fff;
  background: url(/images/section-transition.svg),
    url(/images/section-transition--main.svg), #00b6e0;
  background-size: 100%;
  background-position: top, bottom;
  background-repeat: no-repeat;

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    font-family: "Work Sans";
  }
}
.speakers {
  &-section {
    width: 100%;

    h2 {
      font-size: 24px;
      font-weight: bold;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);

      span {
        font-weight: bold;
      }
    }
  }
  &-avatar {
    border-radius: 100%;
    width: 166px;
    height: 166px;
    background-color: #182335;
    margin: 0 auto 8px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    div div {
      margin: 0px 16px 8px;
    }
  }
}
.testimonials-section {
  color: #182335;
  font-family: "Work Sans";
  font-size: 16px;
  background: url(/images/section-transition.svg),
    url(/images/section-transition--main.svg), #fff;
  background-size: 100%;
  background-position: top, bottom;
  background-repeat: no-repeat;

  .author {
    font-weight: bold;
    color: #00b6e0;
  }
}
