@import "./normalize.scss"; // default settings
@import "./bootstrap.scss";
@import "./utilities.scss";
@import "./typography.scss";
@import "./button.scss";
@import "./form.scss";
@import "./card.scss";
@import "./nav.scss";
@import "./footer.scss";
