@mixin hero {
  background-color: #182335;
  background: url(/images/section-transition--main.svg), #182335;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

@mixin section-blue {
  color: #fff;
  background: url(/images/section-transition.svg),
    url(/images/section-transition--main.svg), #00b6e0;
  background-size: 100%;
  background-position: top, bottom;
  background-repeat: no-repeat;
}

@mixin section-white {
  color: #182335;
  font-family: "Work Sans";
  font-size: 16px;
  background: url(/images/section-transition.svg),
    url(/images/section-transition--main.svg), #fff;
  background-size: 100%;
  background-position: top, bottom;
  background-repeat: no-repeat;
}
