:root {
  --dark-blue: #007bbf;
  --blue: #15b0de;
  --dark-red: #ce0000;
  --red: #ec3558;
  --dark-yellow: #fcc70e;
  --yellow: #ffe141;
  --black: #212427;
  --dark-gray: #999999;
  --gray: #c4c4c4;
  --white: #ffffff;

  --value-4: 0.25rem;
  --value-8: 0.5rem;
  --value-12: 0.75rem;
  --value-16: 1rem;
  --value-24: 1.5rem;
  --value-32: 2rem;
  --value-48: 3rem;
  --value-64: 4rem;
  --value-96: 6rem;
  --value-128: 8rem;
  --value-192: 12rem;
  --value-256: 16rem;
  --value-384: 24rem;
  --value-512: 32rem;
  --value-640: 40rem;
  --value-768: 48rem;

  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

div.wrapper {
  width: 60rem;
  margin: auto;
  box-sizing: border-box;
}

a {
  color: var(--blue);
  text-decoration: none;
  transition: ease all 0.3s;
}

a:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}
